# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python caches and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
.env

# Testing and code quality caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Editor/IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.vscode/

# Pulumi specific files
.pulumi/
Pulumi.*.yaml.bak
Pulumi.dev.yaml
