# mongod.conf template for PyConSG 2026 demo

storage:
  dbPath: /var/lib/mongodb

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

net:
  port: 27017
  # Bind to localhost for internal VM access, and the VNet private IP for cluster communication
  bindIp: 127.0.0.1,{{ host.data.private_ip }}

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

replication:
  replSetName: "rs0"

{% if host.data.enable_mongodb_auth %}
security:
  authorization: enabled
  keyFile: {{ host.data.mongodb_keyfile_path }}
{% endif %}
